<section id="rsvp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Attending?</h2>
                    <h3 class="section-subheading text-muted">Please reply before the 6th of October, so we can establish the exact guest list.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfhIoHrHlOwNb2Hl6KAdcsvcnl_LQIHAFLzdSljUItY-l-TbA/viewform?usp=sf_link">
                        Reply here</a>
                </div>
            </div>
        </div>
    </section>
